node_modules
.coveralls.yml
.yarn
.yarnrc
*.log
.now
.nyc_output
.rpt2_cache
.vscode
.idea
**/out/*
!**/out/.gitkeep
packages/**/dist/*
packages/**/.rts2_cache_cjs
packages/**/.rts2_cache_es
packages/**/.rts2_cache_umd
packages/**/.rts2_cache_modern
docs/dist/**
coverage

.vercel
