node_modules
lerna-debug.log
.rpt2_cache
.nyc_output
.vscode
.coveralls.yml
**/dist/*
**/test/**/*-tmp.glb
**/test/**/*-tmp.gltf
packages/*/package-lock.json
packages/*/test/out/*
!packages/*/test/out/**/.gitkeep
