<div class="container tsd-generator">
    <p>
        Created by <a href="https://twitter.com/donrmccurdy" target="_blank" rel="noopener">Don McCurdy</a>
        •
        <a href="https://github.com/donmccurdy/glTF-Transform/blob/master/LICENSE" target="_blank">MIT License</a>
        •
        Documentation by <a href="https://typedoc.org/" target="_blank">TypeDoc</a>
    </p>
</div>
