<div class="container tsd-generator">
    <img src="/media/kicker.jpg" alt="Function symbol, f(📦) → 📦, where the argument and output are a box labeled 'glTF'.">
    <p>
        <span class="line">Made by <a href="https://twitter.com/donrmccurdy" target="_blank" rel="noopener">Don McCurdy</a></span>
        <span class="divider">•</span>
        <span class="line"><a href="https://typedoc.org/" target="_blank">TypeDoc</a> documentation</span>
        <span class="divider">•</span>
        <span class="line">Copyright 2023, <a href="https://github.com/donmccurdy/glTF-Transform/blob/master/LICENSE" target="_blank">MIT</a> license</span>
    </p>
</div>
