<header>
    <div class="tsd-page-toolbar">
        <div class="container">
            <div class="table-wrap">
                <div class="table-cell">
                    <strong><a href="{{relativeURL "index.html"}}">{{project.name}}</a></strong>
                    <a class="header-badge"
                        target="_blank"
                        href="https://github.com/donmccurdy/glTF-Transform">
                        <img alt="GitHub stars"
                             src="https://img.shields.io/github/stars/donmccurdy/glTF-Transform?style=social">
                    </a>
                </div>
                <div class="table-cell" id="tsd-widgets">
                    <div id="tsd-filter">
                        <a href="#" class="tsd-widget options no-caption" data-toggle="options">Options</a>
                        <div class="tsd-filter-group">
                            <input type="checkbox" id="tsd-filter-inherited" checked />
                            <label class="tsd-widget" for="tsd-filter-inherited">Inherited</label>
                        </div>
                    </div>
                    <a href="javascript:;" id="tsd-menu" class="tsd-widget menu no-caption">Menu</a>
                </div>
            </div>
        </div>
    </div>
    <script>
        (function () {
            const bodyEl = document.body;

            // Show/hide navigation sidebar (mobile).
            const menuEl = document.querySelector('#tsd-menu');
            menuEl.addEventListener('click', function () {
                if (bodyEl.classList.contains('toggle-nav')) {
                    bodyEl.classList.remove('toggle-nav');
                } else {
                    bodyEl.classList.add('toggle-nav');
                }
            })

            // Show/hide inherited members.
            if (location.href.includes('classes')) {
                const inheritedInputEl = document.querySelector('#tsd-filter-inherited');
                inheritedInputEl.addEventListener('change', function () {
                    if (inheritedInputEl.checked) {
                        bodyEl.classList.remove('toggle-inherited');
                    } else {
                        bodyEl.classList.add('toggle-inherited');
                    }
                });
            } else {
                const filterEl = document.querySelector('#tsd-filter');
                filterEl.style.display = 'none';
            }
        }())
    </script>
</header>
