name: build
permissions:
  contents: read
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
jobs:
  #############################################################################
  # NODE
  node:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [v22, v24]
    env:
      CI: true
      LINT: ${{ matrix.node-version == 'v24' && true || false }}
    steps:
      # Setup.
      - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          # TODO(cleanup): https://github.com/actions/setup-node/issues/1027
          # cache: yarn

      # Build.
      - run: corepack enable
      - run: yarn install --immutable
      - run: yarn build

      # Test.
      - run: yarn test
      - run: yarn lint
        if: ${{ env.LINT == 'true' }}

  #############################################################################
  # DENO
  deno:
    runs-on: ubuntu-latest
    env:
      CI: true
      NODE_VERSION: v24
    steps:
      # Setup.
      - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4
      - uses: denoland/setup-deno@v1
        with:
          deno-version: v1.x
      - name: Use Node.js ${{ env.NODE_VERSION }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}
          # TODO(cleanup): https://github.com/actions/setup-node/issues/1027
          # cache: yarn

      # Build.
      - run: corepack enable
      - run: yarn install --immutable
      - run: yarn build

      # Test.
      - run: deno test --allow-read --config scripts/deno.json scripts/deno_test.ts

  #############################################################################
  # COVERAGE
  coverage:
    runs-on: ubuntu-latest
    env:
      CI: true
      NODE_VERSION: v24
    steps:
      # Setup.
      - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4
      - name: Use Node.js ${{ env.NODE_VERSION }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}
          # TODO(cleanup): https://github.com/actions/setup-node/issues/1027
          # cache: yarn

      # Build.
      - run: corepack enable
      - run: yarn install --immutable
      - run: yarn build

      # Coverage.
      - run: yarn coverage
      - run: yarn coverage:report
      - uses: codecov/codecov-action@v5
        with:
          files: coverage/coverage.lcov

  #############################################################################
  # WINDOWS LOCAL BUILDS
  windows:
    runs-on: windows-latest
    env:
      CI: true
      NODE_VERSION: v24
    steps:
      # Setup.
      - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4
      - name: Use Node.js ${{ env.NODE_VERSION }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}
          # TODO(cleanup): https://github.com/actions/setup-node/issues/1027
          # cache: yarn

      # Build.
      - run: corepack enable
      # See: https://github.com/yarnpkg/yarn/issues/4890
      - run: yarn install --immutable --network-timeout 100000
      - run: yarn build
