name: build
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
jobs:
  build:
    runs-on: macos-latest # Better `headless-gl` support on macOS.
    strategy:
      matrix:
        node-version: [14.x, 16.x] # Latest prebuilt binaries for `headless-gl`
    env:
      CI: true
    steps:
    # Setup.
    - uses: actions/checkout@v3
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}

    # Cache.
    - id: yarn-cache-dir-path
      run: echo "::set-output name=dir::$(yarn cache dir)"
    - uses: actions/cache@v3
      id: yarn-cache
      with:
        path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
        key: ${{ runner.os }}-${{ matrix.node-version }}-yarn-${{ hashFiles('./yarn.lock') }}
        restore-keys: |
          ${{ runner.os }}-${{ matrix.node-version }}-yarn-

    # Test.
    - run: yarn install
    - run: yarn dist
    - run: yarn test
    - run: yarn lint

    # Coverage.
    - name: Run coverage
      # if: matrix.node-version == '16.x'
      run: |
        yarn coverage
        yarn coverage:report
    - name: Report coverage
      # if: matrix.node-version == '16.x'
      uses: codecov/codecov-action@v2
      with:
        files: .nyc_output/coverage.lcov
